/*
 * PROJECT:     ReactOS Kernel
 * LICENSE:     GPL-2.0-or-later (https://spdx.org/licenses/GPL-2.0-or-later)
 * PURPOSE:     Boot Theme & Animation - Resource File
 * COPYRIGHT:   Copyright 2007-2010 Alex Ionescu (alex.ionescu@reactos.org)
 *              Copyright 2015-2022 Hermès Bélusca-Maïto
 *              Copyright 2019 Yaroslav Kibysh
 */

#include "include/resource.h"

/* Bitmaps */

/* Color pallette */
IDB_PALLETTE        BITMAP "inbv/resources/pallette.bmp"

/* SOS Logo header */
IDB_HEADER_LOGO     BITMAP "inbv/resources/header_new.bmp"

/* Normal bootscreen */
IDB_ROTATING_BAR    BITMAP "inbv/resources/rotbar.bmp"
IDB_PROGRESS_RECT   BITMAP "inbv/resources/progress.bmp"
IDB_COPYRIGHT       BITMAP "inbv/resources/copyright.bmp"

/* Special screens for Shutdown and Hibernate */
IDB_HIBERNATE_BAR   BITMAP "inbv/resources/hibernate.bmp"
IDB_SHUTDOWN_MSG    BITMAP "inbv/resources/shutdown.bmp"